.mycontainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-title {
  width: 90%;
  height: 10%;
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-title-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.board-title-left-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #2f2f2f;
  font-family: Roboto, sans-serif;
}

.board-title-left-subtitle {
  font-size: 0.8rem;
  font-weight: 400;
  color: #6b778c;
}

.board-title-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.board-title-right-subtitle {
  font-size: 0.8rem;
  font-weight: 400;
  color: #6b778c;
  margin-right: 3%;
}

.board-title-right-button {
  border-radius: 3px;
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  text-align: center;
  transition: background 0.1s ease-out 0s,
    box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  background: rgba(9, 30, 66, 0.04);
  padding: 5px 10px;
  color: #42526e;
}

.board-title-right-dropdown-button {
  border-radius: 3px;
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(9, 30, 66, 0.04);
  padding: 5px 10px;
  color: #42526e;
  margin: 25%;
}

.board-title-right-dropdown-button:hover {
  cursor: pointer;
  background: rgba(9, 30, 66, 0.08);
}

.board-title-right-button:hover {
  cursor: pointer;
  background: rgba(9, 30, 66, 0.08);
  color: #42526e;
}

.board-content {
  width: 90%;
  height: 90%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
}

.board-content-head {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-content-head-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.board-content-head-left-search {
  width: 30%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #dfe1e6;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out 0s,
    border-color 0.2s ease-in-out 0s;
}

.board-content-head-left-search:hover {
  background-color: #ebecf0;
}

.board-content-head-left-search:focus-within {
  background-color: white;
  border-color: #4c9aff;
}

.board-content-head-left-search input {
  width: 90%;
  outline: 0;
  border: 0;
  background-color: transparent;
}

.board-content-head-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.board-content-head-right-subtitle {
  font-size: 0.9rem;
  font-weight: 400;
  color: #6b778c;
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.board-content-head-right-dropdown {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}

.board-content-head-right-dropdown .dropdown {
  width: 100%;
  height: 100%;
  display: flex;
}

.board-content-head-right-dropdown-button {
  border-radius: 3px;
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  text-align: center;
  transition: background 0.1s ease-out 0s,
    box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  background: rgba(9, 30, 66, 0.04);
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 15%;
  color: #42526e;
}

.board-content-head-right-dropdown-button:hover {
  cursor: pointer;
  background: rgba(9, 30, 66, 0.08);
  color: #42526e;
}

.board-content-head-right-dropdown .dropdown-menu {
  min-width: 6rem !important;
}
.dropdown-item:hover {
  cursor: pointer;
}

.dropdown-item:active {
  color: black !important;
  background-color: #e4e4e4 !important;
}

.dropdown-item {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.board-content-body {
  width: 100%;
  height: 92%;
  display: flex;
  overflow-x: auto;
}

.board-content-body::-webkit-scrollbar {
  height: 8px;
}

.board-content-body::-webkit-scrollbar-track {
  border-radius: 100px;
}

.board-content-body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: rgb(155, 155, 155);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}

.board-content-body-section {
  width: 300px;
  height: 90%;
  border-radius: 6px;
  margin-right: 1%;
  margin-top: 1%;
  background: rgba(9, 30, 66, 0.04);
  display: flex;
  flex-direction: column;
}

.board-content-body-section-title {
  width: 300px;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-content-body-section-title-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 5%;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  color: #5e6c84;
}

.board-content-body-section-title .dropdown {
  width: 30px;
  height: 30px;
  margin-right: 5%;
}

.board-content-body-section-title-right-button {
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
}

.board-content-body-section-title-right-button:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}

.board-content-body-section-body {
  width: 300px;
  height: 90%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
}

.board-content-body-section-body-empty {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board-content-body-section-body-empty-title {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.board-content-body-section-body-empty-subtitle {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  text-align: center;
  color: #5e6c84;
}

.board-content-body-section-body-empty-backlog-button {
  border-radius: 3px;
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  text-align: center;
  transition: background 0.1s ease-out 0s,
    box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  background: rgba(9, 30, 66, 0.04);
  padding: 5px 10px;
  color: #42526e;
  margin-top: 2%;
}

.board-content-body-section-body-empty-backlog-button:hover {
  cursor: pointer;
  background: rgba(9, 30, 66, 0.08);
  color: #42526e;
}
