<div class="mycontainer">
  <div class="title">
    <div class="title-left">Projects</div>
    <div
      class="title-right-create-button"
      *ngIf="projectList && projectList.length > 0"
      data-bs-toggle="modal"
      data-bs-target="#newProjectModal"
    >
      Create Project
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="newProjectModal"
      tabindex="-1"
      aria-labelledby="newProjectModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <div class="create-project-left">
              <div class="create-project-left-title">Add project details</div>
              <div class="create-project-left-subtitle">
                You can change these details anytime in your project settings
              </div>
              <div class="create-project-left-name-input">
                <label for="projectName" class="create-project-left-name-label">
                  Name <span class="required">*</span>
                </label>
                <input
                  type="text"
                  class="form-control create-project-left-name-input-field"
                  id="projectName"
                  placeholder="Try a team name, project goal, milestone..."
                  [(ngModel)]="newProjectName"
                  required
                />
              </div>
              <div class="create-project-left-subtitle">
                Project Name should be unique among all your projects.
              </div>
              <div class="create-project-left-key-input">
                <label for="projectKey" class="create-project-left-key-label">
                  Key <span class="required">*</span>
                </label>
                <input
                  type="text"
                  class="form-control create-project-left-key-input-field"
                  id="projectKey"
                  [(ngModel)]="newProjectKey"
                  required
                  [value]="getInitialKey()"
                  maxlength="3"
                />
              </div>
              <div class="create-project-left-subtitle">
                Project key will be used as a prefix for all issues/tasks.
              </div>
            </div>
            <div class="create-project-right">
              <div class="create-project-right-title">Project Template</div>
              <div class="create-project-right-template">
                <div class="create-project-right-template-img">
                  <img src="../../assets/scrum.svg" alt="Template" />
                </div>
                <div class="create-project-right-template-content">
                  <div class="create-project-right-template-content-title">
                    Scrum
                  </div>
                  <div class="create-project-right-template-content-subtitle">
                    Sprint toward your project goals with a board, backlog, and
                    roadmap.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              class="create-project-cancel-button"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button
              class="create-project-create-button"
              (click)="createProject()"
              [disabled]="!newProjectName || !newProjectKey"
            >
              Create project
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div *ngIf="projectList" style="width: 100%; height: 100%">
      <div *ngIf="projectList.length > 0; then list; else empty"></div>
      <ng-template #list>
        <div class="projects-list-full">
          <div class="projects-list-full-search">
            <input
              type="text"
              name="search"
              id="search"
              autocomplete="off"
              spellcheck="false"
              [(ngModel)]="searchQuery"
            />
            <svg width="25" height="15" viewBox="9 0 24 24" role="presentation">
              <path
                d="M16.436 15.085l3.94 4.01a1 1 0 01-1.425 1.402l-3.938-4.006a7.5 7.5 0 111.423-1.406zM10.5 16a5.5 5.5 0 100-11 5.5 5.5 0 000 11z"
                fill="currentColor"
                fill-rule="evenodd"
              ></path>
            </svg>
          </div>
          <div class="projects-list-full-table">
            <table class="table">
              <thead class="table-project-thead">
                <tr>
                  <td scope="col" class="thead-project-name">Name</td>
                  <td scope="col" class="thead-project-key">KEY</td>
                  <td scope="col" class="thead-project-lead">Lead</td>
                  <td scope="col" class="thead-project-opts"></td>
                </tr>
              </thead>
              <tbody class="table-project-tbody">
                <tr
                  *ngFor="
                    let project of projectList | projectSearch: searchQuery;
                    index as i
                  "
                >
                  <span *ngIf="projectList.length !== 0; then proList"></span>
                  <ng-template #proList>
                    <td
                      scope="row"
                      class="tbody-project-name"
                      (click)="gotoProject(project.id)"
                    >
                      <div class="project">
                        <div class="project-logo">
                          <img [src]="project.icon" alt="" />
                        </div>
                        <div class="project-name">
                          {{ project.name }}
                        </div>
                      </div>
                    </td>
                    <td class="tbody-project-key">{{ project.key }}</td>
                    <td class="tbody-project-lead">
                      <div class="lead">
                        <div class="lead-logo">
                          <div
                            *ngIf="
                              project.owner_img;
                              then logo;
                              else dummy_logo
                            "
                          ></div>
                          <ng-template #logo>
                            <img [src]="project.owner_img" />
                          </ng-template>
                          <ng-template #dummy_logo>
                            <div class="lead-dummy-logo">
                              {{ project.dummy_img }}
                            </div>
                          </ng-template>
                        </div>
                        <div class="lead-name">
                          {{ project.owner_name }}
                        </div>
                      </div>
                    </td>
                    <td style="padding: 0 5px 0 0 !important">
                      <div class="dropdown">
                        <div
                          class="tbody-project-opts"
                          [id]="i"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            role="presentation"
                          >
                            <g fill="currentColor" fill-rule="evenodd">
                              <circle cx="5" cy="12" r="2"></circle>
                              <circle cx="12" cy="12" r="2"></circle>
                              <circle cx="19" cy="12" r="2"></circle>
                            </g>
                          </svg>
                        </div>
                        <ul class="dropdown-menu" [attr.aria-labelledby]="i">
                          <li>
                            <span
                              class="dropdown-item"
                              (click)="gotoSettings(project.id)"
                              >Project Settings
                            </span>
                          </li>
                          <li *ngIf="project.isOwner">
                            <span
                              class="dropdown-item delete-project"
                              (click)="deleteProject(project.id)"
                              >Move to Trash
                            </span>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </ng-template>
                </tr>
              </tbody>
            </table>
            <div
              *ngIf="(projectList | projectSearch: searchQuery).length === 0"
              class="project-list-search-fail"
            >
              <div class="project-list-search-fail-img">
                <img
                  src="../../assets/search-fail.svg"
                  alt="No search result"
                />
              </div>
              <div class="project-list-search-fail-text">
                No projects were found that match your search
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #empty>
        <div class="projects-list-empty">
          <div class="projects-list-empty-img">
            <img src="../../assets/projects-list-empty-img.svg" />
          </div>
          <div class="projects-list-empty-title">
            You currently have no projects
          </div>
          <div class="projects-list-empty-subtitle">
            Let's create your first project in Jira
          </div>
          <div class="projects-list-empty-create-button">Create Project</div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
