.mycontainer {
  width: 100%;
  height: 99%;
  margin-top: 1%;
}

.title {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  font-family: Roboto, sans-serif;

  padding-left: 2%;
  padding-right: 2%;
  justify-content: space-between;
}

.title-left {
  font-size: 1.4em;
}

.title-right-create-button {
  background-color: #0052cc;
  color: white;
  width: 8%;
  height: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.title-right-create-button:hover {
  background-color: #1362d8;
  color: white;
  cursor: pointer;
}

.content {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
}

.projects-list-empty {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 1%;
  flex-direction: column;
  align-items: center;
  font-family: Roboto, sans-serif;
}

.projects-list-empty-img img {
  width: 200px;
  height: 200px;
}

.projects-list-empty-title {
  font-size: 1.4rem;
}

.projects-list-empty-subtitle {
  font-size: 1rem;
  margin-top: 0.5%;
  font-weight: 300;
}

.projects-list-empty-create-button {
  margin-top: 1.5%;
  background-color: #0052cc;
  color: white;
  width: 8%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.projects-list-empty-create-button:hover {
  background-color: #1362d8;
  color: white;
  cursor: pointer;
}

.projects-list-full {
  width: 96%;
  height: 100%;
  margin-left: 2%;
  margin-right: 2%;
}

.projects-list-full-search {
  width: 12%;
  height: 5.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #dfe1e6;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out 0s,
    border-color 0.2s ease-in-out 0s;
}

.projects-list-full-search:hover {
  background-color: #ebecf0;
}

.projects-list-full-search:focus-within {
  background-color: white;
  border-color: #4c9aff;
}

.projects-list-full-search input {
  width: 90%;
  outline: 0;
  border: 0;
  background-color: transparent;
}

.projects-list-full-table {
  margin-top: 1%;
}

.thead-project-name {
  width: 40%;
}

.thead-project-key {
  width: 25%;
}

.thead-project-lead {
  width: 35%;
}

.table-project-thead {
  border-bottom: 3px solid #dfe1e6 !important;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}

.table-project-tbody {
  font-family: Roboto, sans-serif;
  font-size: 0.9rem;
}

.table-project-tbody tr {
  border-bottom: 2px solid #dfe1e6 !important;
}

.table-project-tbody tr:hover {
  background-color: #f7f7f7;
}

td,
th {
  border: none !important;
  vertical-align: middle !important;
}

.tbody-project-name .project {
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 10px;
}

.tbody-project-name:hover {
  cursor: pointer;
}

.tbody-project-name .project-logo {
  width: 8%;
  height: 100%;
}

.tbody-project-name .project-name{
  display: flex;
  align-items: center;
}

.tbody-project-name .project-logo img {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  object-fit: cover;
}

.tbody-project-lead .lead {
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  font-family: Roboto, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}

.tbody-project-lead .lead-logo {
  width: 8%;
  height: 100%;
}

.tbody-project-lead , .lead-name{
  display: flex;
  align-items: center;
}

.tbody-project-lead .lead-logo img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.tbody-project-opts {
  width: 32px;
  height: 28px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tbody-project-opts:hover {
  cursor: pointer;
  background-color: #ebecf0;
}

.tbody-project-opts:active {
  background-color: #dbdbdb;
}

.lead-dummy-logo {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0052cc;
  font-family: Roboto, sans-serif;
  font-size: 0.5rem;
  color: white;
}

.delete-project:active {
  color: white !important;
  background-color: #de350b !important;
}

.delete-project:hover {
  cursor: pointer;
  color: white !important;
  background-color: #de350b !important;
}

.dropdown-item:hover {
  cursor: pointer;
}

.dropdown-item:active {
  color: black !important;
  background-color: #e4e4e4 !important;
}

.dropdown-item {
  font-family: Roboto, sans-serif;
}

.project-list-search-fail {
  margin-top: 2%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
}

.project-list-search-fail-img img {
  width: 150px;
  height: 150px;
}

.project-list-search-fail-text {
  width: 250px;
  height: 150px;
  text-align: center;
  font-size: 1.2rem;
}

.modal-dialog {
  max-width: unset;
}

.modal-dialog-centered {
  justify-content: center;
}

.modal-content {
  width: 850px;
  height: 350px;
}

.modal-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto, sans-serif;
  padding-bottom: 0;
}

.create-project-left {
  height: 100%;
  width: 49%;
  display: flex;
  flex-direction: column;
}

.create-project-left-title {
  font-size: 1.8rem;
  font-weight: 400;
}

.create-project-left-subtitle {
  font-size: 0.8rem;
  font-weight: 300;
  color: rgb(122, 134, 154);
  margin-bottom: 5%;
}

.create-project-left-name-label,
.create-project-left-key-label {
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(122, 134, 154);
}

.required {
  position: relative;
  right: 2px;
  color: red;
  font-size: 0.7rem;
  bottom: 1.5px;
}

.create-project-left-name-input-field {
  width: 80%;
  height: 40px;
  border: 2px solid #dfe1e6;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out 0s,
    border-color 0.2s ease-in-out 0s;
  padding-left: 10px;
  font-size: 0.9rem;
  font-weight: 300;
}

.create-project-left-name-input-field::placeholder {
  font-weight: 300;
}

.create-project-left-name-input-field:hover,
.create-project-left-key-input-field:hover {
  background-color: #ebecf0;
}

.create-project-left-name-input-field:focus-within,
.create-project-left-key-input-field:focus-within {
  background-color: white;
  border-color: #4c9aff;
}

.create-project-left-name-input-field:focus,
.create-project-left-key-input-field:focus {
  box-shadow: unset;
}

.create-project-left-key-input-field {
  width: 40%;
  height: 35px;
  border: 2px solid #dfe1e6;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out 0s,
    border-color 0.2s ease-in-out 0s;
  padding-left: 10px;
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
}

.create-project-right {
  height: fit-content;
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3%;
  background-color: rgb(250, 251, 252);
  border-radius: 16px;
}

.create-project-right-title {
  font-size: 1.2rem;
  font-weight: 400;
}

.create-project-right-template {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;
  width: 100%;
  height: 30%;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
}

.create-project-right-template-img {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-project-right-template-img img {
  width: 100%;
  height: 100%;
}

.create-project-right-template-content {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.create-project-right-template-content-title {
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(122, 134, 154);
}

.create-project-right-template-content-subtitle {
  font-size: 0.7rem;
  font-weight: 300;
  color: rgb(122, 134, 154);
}

.modal-footer {
  border-top: none;
  padding: 0;
}

.create-project-cancel-button {
  width: 60px;
  height: 35px;
  border: none;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out 0s,
    border-color 0.2s ease-in-out 0s;
  font-size: 0.9rem;
  font-weight: 400;
  background-color: rgba(9, 30, 66, 0.04);
  text-align: center;
  color: #42526e;
  position: relative;
  bottom: 10px;
  right: 25px;
}

.create-project-cancel-button:hover {
  background-color: rgba(9, 30, 66, 0.08);
  color: #42526e;
}

.create-project-cancel-button:active {
  background-color: rgba(179, 212, 255, 0.6);
  color: #0052cc;
}

.create-project-create-button {
  width: 110px;
  height: 35px;
  border: none;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out 0s,
    border-color 0.2s ease-in-out 0s;
  font-size: 0.9rem;
  font-weight: 400;
  background-color: rgba(9, 30, 66, 0.04);
  text-align: center;
  background-color: #0052cc;
  color: white;
  position: relative;
  bottom: 10px;
  right: 25px;
}

.create-project-create-button:hover {
  background-color: #0065ff;
}

.create-project-create-button:active {
  background-color: #0747a6;
}

#deleteProjectModal .modal-dialog{
  max-width: 500px;
  
}

.modal-content-delete {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
    margin-top: 3rem;
    height: fit-content;
}

.modal-body-delete {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem;
}

.details-modal-body-head {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details-modal-body-head-title {
    font-size: 1.4rem;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    margin-bottom: 2%;
}

.details-modal-body-head-subtitle {
    font-size: 0.8rem;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    color: #6b778c;
}

.details-modal-body-footer {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.big-footer{
    height: 35%;
}

.details-modal-body-footer-cancel-button {
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 3px;
    transition: background-color 0.2s ease-in-out 0s,
        border-color 0.2s ease-in-out 0s;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    background-color: rgba(9, 30, 66, 0.04);
    text-align: center;
    color: #42526e;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.details-modal-body-footer-cancel-button:hover {
    background-color: rgba(9, 30, 66, 0.08);
    color: #42526e;
    cursor: pointer;
}

.details-modal-body-footer-cancel-button:active {
    background-color: rgba(179, 212, 255, 0.6);
    color: #0052cc;
}

.details-modal-body-footer-delete-button {
    width: 65px;
    height: 30px;
    border: none;
    border-radius: 3px;
    transition: background-color 0.2s ease-in-out 0s,
        border-color 0.2s ease-in-out 0s;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    background-color: rgba(9, 30, 66, 0.04);
    text-align: center;
    background-color: #de350b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.details-modal-body-footer-delete-button:hover {
    cursor: pointer;
    background-color: #b32c0a;
}
