<div class="mycontainer" *ngIf="project">
  <div class="backlog-title">
    <div class="backlog-title-left">
      <div class="backlog-title-left-subtitle">
        Projects / {{ project.project_name }}
      </div>
      <div class="backlog-title-left-title">Issues</div>
    </div>
  </div>
  <div class="backlog-content">
    <div class="backlog-content-head">
      <div class="backlog-content-head-left">
        <div class="backlog-content-head-left-search">
          <input
            type="text"
            name="search"
            id="search"
            autocomplete="off"
            spellcheck="false"
            [(ngModel)]="searchQuery"
          />
          <svg width="25" height="15" viewBox="9 0 24 24" role="presentation">
            <path
              d="M16.436 15.085l3.94 4.01a1 1 0 01-1.425 1.402l-3.938-4.006a7.5 7.5 0 111.423-1.406zM10.5 16a5.5 5.5 0 100-11 5.5 5.5 0 000 11z"
              fill="currentColor"
              fill-rule="evenodd"
            ></path>
          </svg>
        </div>
      </div>
    </div>
    <div class="backlog-content-body">
      <div class="backlog-content-body-sprint backlog-content-body-backlog">
        <div class="backlog-content-body-sprint-head">
          <div class="backlog-content-body-sprint-head-left">
            <div class="backlog-content-body-sprint-head-left-title">
              List of All Issues
            </div>
            <div
              class="backlog-content-body-sprint-head-left-subtitle"
              *ngIf="project && project.Issues?.length > 1; else singleIssue"
            >
              ({{ project?.Issues?.length }} issues)
            </div>
            <ng-template #singleIssue>
              <div
                class="backlog-content-body-sprint-head-left-subtitle"
                *ngIf="project && project.Issues?.length == 1"
              >
                (1 issue) 
              </div>
            </ng-template>
          </div>
        </div>
        <div
          class="backlog-content-body-sprint-body"
          id="backlog"
        >
          <div
            class="backlog-content-body-sprint-body-issue"
            *ngFor="let issue of project.Issues | issueSearch: searchQuery"
            (click)="selectIssue(issue)"
            data-bs-toggle="modal"
            data-bs-target="#issueModal"
          >
            <div class="backlog-content-body-sprint-body-issue-left">
              <div class="backlog-content-body-sprint-body-issue-left-icon">
                <img [src]="issue.type_icon" alt="Icon" />
              </div>
              <div class="backlog-content-body-sprint-body-issue-left-tag">
                {{ issue.tag }}
              </div>
              <div class="backlog-content-body-sprint-body-issue-left-name">
                {{ issue.name }}
              </div>
            </div>
            <div class="backlog-content-body-sprint-body-issue-right">
              <div
                class="backlog-content-body-sprint-body-issue-right-priority"
              >
                <img [src]="issue.priority_icon" alt="Icon" />
              </div>
              <div class="backlog-content-body-sprint-body-issue-right-status">
                <div
                  class="backlog-content-body-sprint-body-issue-right-status-todo"
                  *ngIf="issue.status === 'to do'"
                >
                  TO DO
                </div>
                <div
                  class="backlog-content-body-sprint-body-issue-right-status-inprogress"
                  *ngIf="issue.status === 'in progress'"
                >
                  IN PROGRESS
                </div>
                <div
                  class="backlog-content-body-sprint-body-issue-right-status-done"
                  *ngIf="issue.status === 'done'"
                >
                  DONE
                </div>
                <div
                  class="backlog-content-body-sprint-body-issue-right-status-inprogress"
                  *ngIf="
                    issue.status !== 'done' &&
                    issue.status !== 'in progress' &&
                    issue.status !== 'to do'
                  "
                >
                  {{ issue.status.toUpperCase() }}
                </div>
              </div>
              <div
                class="backlog-content-body-sprint-body-issue-right-assignee"
              >
                <div *ngIf="issue.assignee.img; else noAssigneeImg">
                  <img [src]="issue.assignee.img" alt="" />
                </div>
                <ng-template #noAssigneeImg>
                  <div class="issue-assignee-no-img">
                    {{ issue.assignee.dummy_img }}
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade issueModal"
      id="issueModal"
      tabindex="-1"
      aria-labelledby="issueModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <div class="issue-modal-left">
              <div class="issue-modal-left-subtitle">
                <div
                  class="issue-model-left-subtitle-epic"
                  *ngIf="selectedIssue?.epic"
                  [ngClass]="{ epicEditing: editIssue }"
                >
                  <div
                    *ngIf="!editIssue; else epicInput"
                    class="issue-modal-left-subtitle-epic-button"
                  >
                    <img src="../../assets/epic.svg" alt="epicIcon" />
                    {{ selectedIssue?.epic.name }} /
                  </div>
                  <ng-template #epicInput>
                    <div class="issue-modal-left-subtitle-epic-button">
                      <div class="dropdown">
                        <div
                          class="issue-modal-left-subtitle-epic-dropdown-button"
                          id="1"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <div class="issue-modal-left-subtitle-epic-button">
                            <img src="../../assets/epic.svg" alt="epicIcon" />
                            {{ updatedSelectedIssue?.epic.name }}
                          </div>
                          <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            role="presentation"
                          >
                            <path
                              d="M8.292 10.293a1.009 1.009 0 000 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955a1.01 1.01 0 000-1.419.987.987 0 00-1.406 0l-2.298 2.317-2.307-2.327a.99.99 0 00-1.406 0z"
                              fill="currentColor"
                              fill-rule="evenodd"
                            ></path>
                          </svg>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="1">
                          <li *ngFor="let epic of project.epics">
                            <span
                              class="dropdown-item"
                              (click)="updateSelectedIssueEpic(epic)"
                            >
                              <img
                                src="../../assets/epic.svg"
                                alt="Epic Logo"
                              />
                              {{ epic.name }}
                            </span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <div
                  class="issue-model-left-subtitle-issue-tag"
                  [ngClass]="{ issueTypeEditing: editIssue }"
                >
                  <img
                    [src]="selectedIssue?.type_icon"
                    alt="issueIcon"
                    *ngIf="!editIssue; else issueTypeInput"
                  />
                  <ng-template #issueTypeInput>
                    <div class="dropdown">
                      <div
                        class="issue-modal-left-subtitle-issuetype-dropdown-button"
                        id="1"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <img
                          [src]="updatedSelectedIssue?.type_icon"
                          alt="issueIcon"
                        />
                        <svg
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          role="presentation"
                        >
                          <path
                            d="M8.292 10.293a1.009 1.009 0 000 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955a1.01 1.01 0 000-1.419.987.987 0 00-1.406 0l-2.298 2.317-2.307-2.327a.99.99 0 00-1.406 0z"
                            fill="currentColor"
                            fill-rule="evenodd"
                          ></path>
                        </svg>
                      </div>
                      <ul class="dropdown-menu" aria-labelledby="1">
                        <li>
                          <span
                            class="dropdown-item"
                            (click)="updateSelectedIssueType('story')"
                          >
                            <img
                              src="../../assets/issue-type-story.svg"
                              alt="Issue Type Logo"
                            />
                            Story
                          </span>
                        </li>
                        <li>
                          <span
                            class="dropdown-item"
                            (click)="updateSelectedIssueType('task')"
                          >
                            <img
                              src="../../assets/issue-type-task.svg"
                              alt="Issue Type Logo"
                            />
                            Task
                          </span>
                        </li>
                        <li>
                          <span
                            class="dropdown-item"
                            (click)="updateSelectedIssueType('bug')"
                          >
                            <img
                              src="../../assets/issue-type-bug.svg"
                              alt="Issue Type Logo"
                            />
                            Bug
                          </span>
                        </li>
                      </ul>
                    </div>
                  </ng-template>
                  <span style="width: 72%; margin-left: 3%">
                    {{ selectedIssue?.tag }}
                  </span>
                </div>
              </div>
              <div
                class="issue-modal-left-title"
                *ngIf="!editIssue; else titleInput"
              >
                {{ selectedIssue?.name }}
              </div>
              <ng-template #titleInput>
                <div class="issue-modal-left-title">
                  <input
                    class="issue-modal-left-title-input-field"
                    autocomplete="off"
                    spellcheck="false"
                    [(ngModel)]="updatedSelectedIssue.name"
                  />
                </div>
              </ng-template>
              <div class="issue-modal-left-buttons">
                <!-- <div class="issue-modal-left-buttons-attach">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    role="presentation"
                  >
                    <path
                      d="M11.643 17.965c-1.53 1.495-4.016 1.496-5.542.004a3.773 3.773 0 01.002-5.412l7.147-6.985a2.316 2.316 0 013.233-.003c.893.873.895 2.282.004 3.153l-6.703 6.55a.653.653 0 01-.914-.008.62.62 0 010-.902l6.229-6.087a.941.941 0 000-1.353.995.995 0 00-1.384 0l-6.23 6.087a2.502 2.502 0 000 3.607 2.643 2.643 0 003.683.009l6.703-6.55a4.074 4.074 0 00-.003-5.859 4.306 4.306 0 00-6.002.003l-7.148 6.985a5.655 5.655 0 00-.001 8.118c2.29 2.239 6.015 2.238 8.31-.005l6.686-6.533a.941.941 0 000-1.353.995.995 0 00-1.384 0l-6.686 6.534z"
                      fill="currentColor"
                      fill-rule="evenodd"
                    ></path>
                  </svg>
                  &nbsp; Attach
                </div> -->
                <div
                  class="issue-modal-left-buttons-edit"
                  (click)="editIssueOption()"
                  *ngIf="!editIssue"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    x="0px"
                    y="0px"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    style="fill: #42526e"
                  >
                    <path
                      d="M 18 2 L 15.585938 4.4140625 L 19.585938 8.4140625 L 22 6 L 18 2 z M 14.076172 5.9238281 L 3 17 L 3 21 L 7 21 L 18.076172 9.9238281 L 14.076172 5.9238281 z"
                    ></path>
                  </svg>
                  &nbsp; Edit
                </div>
              </div>
              <div class="issue-modal-left-description">
                <div class="issue-modal-left-description-title">
                  Description
                </div>
                <div
                  class="issue-modal-left-description-content"
                  *ngIf="!editIssue; else descInput"
                >
                  {{ selectedIssue?.description }}
                </div>
                <ng-template #descInput>
                  <div class="issue-modal-left-description-content editing">
                    <textarea
                      class="issue-modal-left-description-content-input-field"
                      autocomplete="off"
                      spellcheck="false"
                      [(ngModel)]="updatedSelectedIssue.description"
                    ></textarea>
                  </div>
                </ng-template>
              </div>
              <!-- <div class="issue-modal-left-attachments">
                <div class="issue-modal-left-attachments-title">
                  Attachments
                </div>
                <div class="issue-modal-left-attachments-area">
                  All issue attachments will be previewed here.
                </div>
              </div> -->
            </div>
            <div class="issue-modal-right">
              <div class="issue-modal-right-top">
                <div class="issue-modal-right-top-options">
                  <div class="dropdown">
                    <div
                      class="issue-modal-right-top-options-dropdown-button"
                      [id]="selectedIssue?.issue_id"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        role="presentation"
                      >
                        <g fill="currentColor" fill-rule="evenodd">
                          <circle cx="5" cy="12" r="2"></circle>
                          <circle cx="12" cy="12" r="2"></circle>
                          <circle cx="19" cy="12" r="2"></circle>
                        </g>
                      </svg>
                    </div>
                    <ul
                      class="dropdown-menu dropdown-menu-end"
                      [attr.aria-labelledby]="selectedIssue?.issue_id"
                    >
                      <li>
                        <span
                          class="dropdown-item delete-issue"
                          (click)="deleteIssue()"
                          >Delete
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div
                  class="issue-modal-right-top-close"
                  data-bs-dismiss="modal"
                  #closeIssueModal
                >
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    role="presentation"
                  >
                    <path
                      d="M12 10.586L6.707 5.293a1 1 0 00-1.414 1.414L10.586 12l-5.293 5.293a1 1 0 001.414 1.414L12 13.414l5.293 5.293a1 1 0 001.414-1.414L13.414 12l5.293-5.293a1 1 0 10-1.414-1.414L12 10.586z"
                      fill="currentColor"
                    ></path>
                  </svg>
                </div>
              </div>
              <div class="issue-modal-right-status-dropdown">
                <div class="dropdown">
                  <div
                    class="issue-modal-right-status-dropdown-button"
                    id="1"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    {{ selectedIssue?.status.toUpperCase() }}
                    <svg
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      role="presentation"
                    >
                      <path
                        d="M8.292 10.293a1.009 1.009 0 000 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955a1.01 1.01 0 000-1.419.987.987 0 00-1.406 0l-2.298 2.317-2.307-2.327a.99.99 0 00-1.406 0z"
                        fill="currentColor"
                        fill-rule="evenodd"
                      ></path>
                    </svg>
                  </div>
                  <ul class="dropdown-menu" aria-labelledby="1">
                    <li *ngFor="let section of myFilter(project.board)">
                      <span
                        class="dropdown-item"
                        (click)="changeIssueStatus(section)"
                      >
                        {{ section.toUpperCase() }}
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="issue-modal-right-details-section">
                <div class="issue-modal-right-details-title">Details</div>
                <div class="issue-modal-right-details-subtitle">
                  <div class="issue-modal-right-details-subtitle-left">
                    Priority
                  </div>
                  <div
                    class="issue-modal-right-details-subtitle-right"
                    *ngIf="!editIssue; else priorityInput"
                  >
                    <img [src]="selectedIssue?.priority_icon" alt="" />
                    {{ selectedIssue?.priority }}
                  </div>
                  <ng-template #priorityInput>
                    <div class="issue-modal-right-details-subtitle-right">
                      <div class="dropdown">
                        <div
                          class="issue-modal-right-details-subtitle-right-dropdown-button"
                          id="1"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <div
                            class="issue-modal-right-details-subtitle-right right-editing"
                            style="margin-left: 0"
                          >
                            <img
                              [src]="updatedSelectedIssue?.priority_icon"
                              alt=""
                            />
                            {{ updatedSelectedIssue?.priority }}
                          </div>
                          <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            role="presentation"
                          >
                            <path
                              d="M8.292 10.293a1.009 1.009 0 000 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955a1.01 1.01 0 000-1.419.987.987 0 00-1.406 0l-2.298 2.317-2.307-2.327a.99.99 0 00-1.406 0z"
                              fill="currentColor"
                              fill-rule="evenodd"
                            ></path>
                          </svg>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="1">
                          <li>
                            <span
                              class="dropdown-item"
                              (click)="updateSelectedIssuePriority('Low')"
                            >
                              <img src="../../assets/issue-priority-low.svg" />
                              Low
                            </span>
                          </li>
                          <li>
                            <span
                              class="dropdown-item delete-project"
                              (click)="updateSelectedIssuePriority('Medium')"
                            >
                              <img
                                src="../../assets/issue-priority-medium.svg"
                              />
                              Medium
                            </span>
                          </li>
                          <li>
                            <span
                              class="dropdown-item delete-project"
                              (click)="updateSelectedIssuePriority('High')"
                            >
                              <img src="../../assets/issue-priority-high.svg" />
                              High
                            </span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <div class="issue-modal-right-details-subtitle">
                  <div class="issue-modal-right-details-subtitle-left">
                    Due Date
                  </div>
                  <div
                    class="issue-modal-right-details-subtitle-right"
                    *ngIf="!editIssue; else dueDateInput"
                  >
                    {{ selectedIssue?.dueDateHR }}
                  </div>
                  <ng-template #dueDateInput>
                    <div
                      class="issue-modal-right-details-subtitle-right date-editing"
                    >
                      <input
                        matInput
                        class="issue-modal-right-details-subtitle-right-date-input"
                        [matDatepicker]="dp"
                        [formControl]="updatedSelectedIssueDueDate"
                        (click)="dp.open()"
                        placeholder="MM/DD/YYYY"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="dp"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #dp></mat-datepicker>
                    </div>
                  </ng-template>
                </div>
                <div class="issue-modal-right-details-subtitle">
                  <div class="issue-modal-right-details-subtitle-left">
                    Assignee
                  </div>
                  <div
                    class="issue-modal-right-details-subtitle-right"
                    *ngIf="!editIssue; else assigneeInput"
                  >
                    <img
                      [src]="selectedIssue?.assignee.img"
                      alt=""
                      *ngIf="selectedIssue?.assignee.img; else noImgIcon"
                    />
                    <ng-template #noImgIcon>
                      <div class="issue-assignee-no-img">
                        {{ selectedIssue?.assignee.dummy_img }}
                      </div>
                    </ng-template>
                    {{ selectedIssue?.assignee.name }}
                  </div>
                  <ng-template #assigneeInput>
                    <div class="issue-modal-right-details-subtitle-right">
                      <div class="dropdown">
                        <div
                          class="issue-modal-right-details-subtitle-right-dropdown-button"
                          id="1"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <div
                            class="issue-modal-right-details-subtitle-right right-editing"
                          >
                            <img
                              [src]="updatedSelectedIssue?.assignee.img"
                              alt=""
                              *ngIf="
                                updatedSelectedIssue?.assignee.img;
                                else noImgIcon
                              "
                            />
                            <ng-template #noImgIcon>
                              <div class="issue-assignee-no-img">
                                {{ updatedSelectedIssue?.assignee.dummy_img }}
                              </div>
                            </ng-template>
                            {{ updatedSelectedIssue?.assignee.name }}
                          </div>
                          <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            role="presentation"
                          >
                            <path
                              d="M8.292 10.293a1.009 1.009 0 000 1.419l2.939 2.965c.218.215.5.322.779.322s.556-.107.769-.322l2.93-2.955a1.01 1.01 0 000-1.419.987.987 0 00-1.406 0l-2.298 2.317-2.307-2.327a.99.99 0 00-1.406 0z"
                              fill="currentColor"
                              fill-rule="evenodd"
                            ></path>
                          </svg>
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="1">
                          <li *ngFor="let assignee of project.members">
                            <span
                              class="dropdown-item"
                              (click)="updateSelectedIssueAssignee(assignee)"
                            >
                              <img
                                [src]="assignee.img"
                                alt=""
                                *ngIf="assignee.img; else noImgIcon"
                              />
                              <ng-template #noImgIcon>
                                <div class="issue-assignee-no-img">
                                  {{ assignee.dummy_img }}
                                </div>
                              </ng-template>
                              {{ assignee.name }}
                            </span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <div class="issue-modal-right-details-subtitle">
                  <div class="issue-modal-right-details-subtitle-left">
                    Sprint
                  </div>
                  <div
                    class="issue-modal-right-details-subtitle-right"
                    *ngIf="selectedIssue?.sprint; else noSprint"
                  >
                    {{ selectedIssue?.sprint.sprint_name ? selectedIssue?.sprint.sprint_name :  "No Active Sprint" }}
                  </div>
                  <ng-template #noSprint>
                    <div class="issue-modal-right-details-subtitle-right">
                      Not in a sprint
                    </div>
                  </ng-template>
                </div>
                <div class="issue-modal-right-details-subtitle">
                  <div class="issue-modal-right-details-subtitle-left">
                    Development
                  </div>
                  <div
                    class="issue-modal-right-details-subtitle-right"
                    *ngIf="selectedIssue?.development; else nodev"
                  >
                    Branch : {{ selectedIssue?.development.branch_name }}
                  </div>
                  <ng-template #nodev>
                    <div class="issue-modal-right-details-subtitle-right">
                      Not linked
                    </div>
                  </ng-template>
                </div>
                <div class="issue-modal-right-details-subtitle">
                  <div class="issue-modal-right-details-subtitle-left">
                    Reporter
                  </div>
                  <div class="issue-modal-right-details-subtitle-right">
                    <img
                      [src]="selectedIssue?.reporter.img"
                      alt=""
                      *ngIf="selectedIssue?.reporter.img; else noImgIcon"
                    />
                    <ng-template #noImgIcon>
                      <div class="issue-assignee-no-img">
                        {{ selectedIssue?.reporter.dummy_img }}
                      </div>
                    </ng-template>
                    {{ selectedIssue?.reporter.name }}
                  </div>
                </div>
                <div class="issue-modal-right-details-subtitle-mini">
                  <span style="width: 25%">Created</span
                  >{{ selectedIssue?.createdAtHR }}
                </div>
                <div class="issue-modal-right-details-subtitle-mini">
                  <span style="width: 25%">Last Updated</span
                  >{{ selectedIssue?.modifiedAtHR }}
                </div>
              </div>
              <div class="issue-model-right-buttons">
                <div
                  class="issue-modal-right-button-cancel"
                  (click)="editIssueOption()"
                  *ngIf="editIssue"
                >
                  Cancel
                </div>
                <div
                  class="issue-modal-right-button-save"
                  *ngIf="editIssue"
                  (click)="saveEditedIssue()"
                >
                  Save
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

